h1 {
  border-bottom: 7px solid pink;
  -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color:#ff1a1a;
  }
  10% {
    color: ;
  }
  20% { 
    color: ;
  }
  30% {
    color:  ;
  }
  40% {
    color: ;
  }
  50%
  60%
  70%
  80%
  90%
  100%
  }
}

body {
  margin: 0;
  background-color: #ff579d;
  font-family: "cursive";
}




.navbar {
  overflow: hidden;
  background-color: #333
}

.navbar a {
  float: left;
  color: #0af3ff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}
  
  .HOBBIES{
    background-color: #ff8abe;
}
