h1 {
  border-bottom: 7px solid pink;
  -webkit-animation:colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color:#ff1a1a;
  }
  10% {
    color:#ff661a;
  }
  20% { 
    color:#ff8c1a;
  }
  30% {
    color:#ffdd1a;
  }
  40% {
    color:#a3ff1a;
  }
  50% {
    color:#1afff4;
  }
  60% {
    color:#1ac2ff;
  }
  70% {
    color:#751aff;
  }
  80% {
    color:#c21aff;
  }
  90%{
    color:#ff1afb;
  }
  100%{
    color:#ff47c2;
  }
}

body {
  margin: 0;
  background-color: #ff579d;
  font-family: "cursive";
}




.navbar {
  overflow: hidden;
  background-color: #333
}

.navbar a {
  float: left;
  color: #005875;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font size: 17px;
}


.column {
  width: 100%;
  float: left;
  padding: 10px;
  height: 500px;
}
 .HOBBIES {
 width: 100%;
 height: 100%; 
 float: left;
 padding: 10px;
 height: 800px;
 background-image: url("https://github.com/Lattecatgirl/portfolio/blob/gh-pages/OMBRE.jpg?raw=true");
 background-size: cover;
 background-position: center;
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
</style>
</head>
<body>

<p>Hover over the image:</p>
<img src="pineapple.jpg" alt="Pineapple" width="300" height="300">

</body>
</html>

#slideshow {
  width: 500px;
  height: 500px;
  position: relative;
  padding: 10px;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px
  right: 10px;
  bottom: 10px;
}
